body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--body);
}
:root {
  --white: #ffffff;
  --body: #434455;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --studio: #2e2f42;
  --cornflower: #e7e9fc;
}

.container {
  width: 1126px;
  margin-left: 16px;
  margin-right: 16px;
}
li,
nav,
address {
  display: inline-block;
}
.logo-position {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 15px;
}
.nav-contacts {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 76px;
  padding: 0;
}
.inside-contacts {
  padding: 0 40px;
}
.mail {
  display: block;
  float: right;
  margin-left: auto;
  margin-right: 15px;
}
header {
  border-bottom: 1px solid var(--cornflower);
}
.filter-buttons {
  justify-content: center;
  display: flex;
  gap: 24px;
}
.button-position {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px 24px;
  align-items: flex-start;
  margin-bottom: 72px;
}
.filter-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
  padding-left: 0px;
}
.icons {
  flex-basis: calc(100%-20px) / 3;
  width: 360px;
  height: 420px;
}
.inside-icons {
  margin-bottom: 48px;
}
.section {
  padding-block: 120px;
  padding-left: 0px;
}
footer {
  padding-bottom: 100px;
  padding-left: 15px;
  padding-top: 101.5px;
}
.filter-footer {
  margin: 0;
  padding-top: 16px;
}
.filter-title {
  padding-bottom: 188px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 188px;
}
.filter-first-buttom {
  margin-left: 480px;
}
.boxes {
  display: inline-block;
  margin-left: 30px;
}
.box-position {
  padding-left: 0;
}
.box {
  width: 264px;
  padding-inline: 12px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.photos-position {
  display: inline-block;
  padding-left: 0px;
  margin-left: 0px;
}
.photos {
  padding-inline: 5px;
}

.logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.filter-studio {
  color: var(--studio);
}
.filter-studio-footer {
  color: var(--cloud);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.list-studio {
  color: var(--studio);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-first {
  color: var(--body);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.filter-nav {
  color: var(--studio);
}
.filter-nav:hover {
  color: var(--ocean);
}
.filter-nav:focus,
.filter-nav:visited {
  color: var(--ocean);
  cursor: pointer;
}
.main-title-background {
  color: var(--white);
  background-color: var(--studio);
}
.branding-header {
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.filter-single-button {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
}
.filter-single-button:hover,
.filter-single-button:focus,
.filter-single-button:visited {
  color: var(--white);
  background-color: var(--ocean);
  cursor: pointer;
}
.first-header {
  color: var(--studio);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.second-header {
  color: var(--studio);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.filter-team-background {
  background-color: var(--cloud);
}
.filter-white-background {
  background-color: var(--white);
}
.footer-paragraph {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--iris);
  background-color: var(--cloud);
}
.filter-button:hover,
.filter-button:focus,
.filter-button:focus {
  color: var(--white);
  background-color: var(--ocean);
  cursor: pointer;
}
.filter-address {
  font-style: normal;
}
.filter-address:hover {
  color: var(--ocean);
}
.filter-address:focus,
.filter-address:visited {
  color: var(--ocean);
  cursor: pointer;
}
.address {
  color: var(--body);
}
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
